:root {
    --children: calc(vw / 380 px) n;
}

.blog__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px 20px;
}

.blog__item {
    width: 380px;
    margin: 0 10px 33px;
}

.blog__item a:hover h2,
.blog__item a:active h2 {
    text-decoration: underline;
}

.blog__img {
    width: 380px;
    height: 220px;
    position: relative;
}

.blog__img::after {
    content: attr(alt);
    width: 380px;
    height: 220px;
    background-color: #DEE4EA;
    position: absolute;
    top: 0;
    left: 0;
}

.blog__date {
    color: #818181;
    mix-blend-mode: normal;
    margin-bottom: 6px;
}

.blog__item img {
    margin-bottom: 22px;
}

.blog__item h2 {
    margin-bottom: 15px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
}

.blog__item p {
    font-size: 18px;
    line-height: 25px;
}