* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #1E0606;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

img {
    display: block;
}

body {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    margin: 0;
}

.undotted {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.hidden-text {
    font-size: 0;
    line-height: 0;
}

.wrapper {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}

.logo__image {
    height: 52px;
    width: 100px;
    position: relative;
}

.logo__image::after {
    content: attr(alt);
    display: block;
    height: 52px;
    width: 100px;
    background: #BBB;
    position: absolute;
    left: 0;
    top: 0;
}

.header {
    display: flex;
    align-items: center;
    margin: 50px auto 60px;
    text-transform: uppercase;
}

.header__menu {
    margin: 0 auto 0 58px;
}

.header__list {
    display: flex;
}

.header__item {
    margin-right: 20px;
    font-size: 14px;
    line-height: 19px;
}

.header__item_bold {
    font-weight: 700;
}

.header__item:last-child {
    margin-right: 0;
}

.header__search {
    margin-right: 33px;
    background-color: transparent;
    border: none;
    width: 17px;
    height: 17px;
    cursor: pointer;
}

.breadcrumb {
    display: flex;
    flex-direction: column;
}

.breadcrumb__title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    margin-bottom: 13px;
}

.breadcrumb__list {
    display: flex;
    margin-bottom: 50px;
}

.breadcrumb__item {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -1.5px;
    padding-right: 28px;
    margin-right: 22px;
    position: relative;
}

.breadcrumb__item::after {
    content: url('data:image/svg+xml; utf8, <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.31229 0L0 1.17735L5.37541 6L0 10.8227L1.31229 12L8 6L1.31229 0Z" fill="%231E0606"/></svg>');
    position: absolute;
    top: 0;
    right: 0;
}

.breadcrumb__item:last-child {
    opacity: 0.5;
}

.breadcrumb__item:last-child:after {
    display: none;
}

.breadcrumb__item:hover:not(.breadcrumb__item:last-child) {
    text-decoration: underline;
}

.button {
    background: #000000;
    color: #fff;
    display: inline-block;
    padding: 9px 22px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.button:hover {
    background: #C29974;
}

.button:active {
    background: #CFAF91;
}

.button:disabled {
    background: #C7C1C1;
    cursor: default;
}

.categories__title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    margin: 0px 0px 30px;
}

.categories__name:hover {
    text-decoration: underline;
}

.categories__list {
    display: flex;
    margin-bottom: 30px;
}

.categories__item {
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 270px;
    position: relative;
}

.categories__item::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
}

.categories__item:first-child::after {
    background-image: url("../img/categories1.png");
    background-color: #DBE4DB;
    background-blend-mode: multiply;
    z-index: -1;
}

.categories__item:nth-child(2)::after {
    background-image: url("../img/categories2.png");
    background-color: #EADDD3;
    background-blend-mode: multiply;
    z-index: -1;
}

.categories__item:nth-child(3)::after {
    background-image: url("../img/categories3.png");
    background-color: #F8F2DA;
    z-index: -1;
}

.categories__item:nth-child(4)::after {
    background-image: url("../img/categories4.png");
    background-color: #D5D4E1;
    background-blend-mode: multiply;
    z-index: -1;
}

.categories__item:nth-child(5)::after {
    background-image: url("../img/categories5.png");
    background-color: #F3D0DB;
    background-blend-mode: multiply;
    z-index: -1;
}

.categories__item:nth-child(6)::after {
    background-image: url("../img/categories6.png");
    background-color: #E5EAF8;
    background-blend-mode: multiply;
    z-index: -1;
}

.categories__item:last-child {
    margin-right: 0;
}

.categories__name {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
    max-width: 200px;
    /* z-index: 2; */
}

.footer {
    background: #434343;
    padding: 100px 0 100px;
    position: relative;
}

.footer a, 
.footer p {
    color: #FFFFFF;
}

.footer__title {
    font-weight: 400;
    line-height: 22px;
    font-size: 16px;
    color: #AAAAAA;
    position: relative;
    border-bottom: 1px solid #666666;
    padding-bottom: 23px;
    margin-bottom: 28px;
}

/* Увеличим вес */
.footer__reference.footer__reference {
    color:#A2A2A2;
}

.footer__column,
.footer__rating,
.footer__stars,
.footer__communities,
.footer__join,
.footer__top,
.footer__bottom {
    display: flex;
}

.footer__column {
    position: relative;
    flex-direction: column;
    width: 380px;
    margin-right: 20px;
}

.footer__column:last-child {
    margin-right: 0;
}

.footer__top {
    margin-bottom: 13px;
}

.footer__bottom {
    padding-top: 23px;
    border-top: 1px solid #666666;
}

.footer__item {
    margin-bottom: 15px;
}

.footer__join {
    margin-bottom: 25px;
    margin-top: -4px;
}

.footer__reference {
    position: absolute;
    bottom: 0;
}

.footer__social {
    margin-right: 10px;
    cursor: pointer;
    position: relative;
}

.footer__social img::after {
    content: attr(alt);
    display: block;
    height: 30px;
    width: 100%;
    background: #BBB;
    position: absolute;
    left: 0;
    top: 0;
}

.footer__rating {
    display: flex;
    flex-direction: row-reverse;
    margin-right: auto;
}

.footer__star {
    margin-right: 6px;

    /* По-другому не хотят стоять ровно */
    display: flex;
    align-items: center;
}

.footer__stars-radio:checked ~ .footer__star path
{
    fill: #C29974;
}

.footer__star.footer__star:hover path,
.footer__star:hover ~ .footer__star path
{
    fill: #836E5B;
}

.footer__rating-text {
    margin-right: 28px;
}

.footer__stars-radio:checked ~ .footer__rating-text {
    color: #C29974;
}

.footer__star:hover ~ .footer__rating-text,
.footer__rating-text:hover {
    color: #836E5B;
}

.footer__stars-radio:focus + .footer__star {
    outline: auto;
}

.footer__input {
    width: 100%;
    background-color: #666666;
    color: #EBEBEB;
    border: none;
    padding: 9px 15px;
    font-size: 16px;
    line-height: 22px;
}

.footer__input:focus {
    outline: none;
    outline: 1px solid #FFFDFD;
}

.footer__input::placeholder {
    color: #EBEBEB;
}

.header__search:hover,
.logo:hover,
.header__item:hover,
.footer__social:hover,
.footer__item:hover {
    opacity: 0.5;
}

.header__search:active,
.logo:active,
.header__item:active,
.footer__social:active,
.footer__item:active {
    opacity: 0.25;
}

.field-2-column {
    display: flex;
    justify-content: space-between;
}

.field-2-column * {
    width: 100%;
}

input[type="radio"],
input[type="checkbox"] {
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
}

.checkbox-label,
.radio-label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
}

.checkbox-label:hover,
.radio-label:hover {
    text-decoration: underline;
}

.checkbox-label:before,
.checkbox-label:after,
.radio-label:before,
.radio-label:after {
    content: '';
    display: block;
    position: absolute;
}

.radio-label:before,
.radio-label:after {
    border-radius: 50%;
}

.checkbox-label:before,
.radio-label:before {
    bottom: 1px;
    left: 0;
    width: 15px;
    height: 15px;
    border: 2px solid #C29974;
    border-radius: 3px;
}

.radio-label:before {
    width: 18px;
    height: 18px;
    border-radius: 100%;
}

.checkbox-label:after {
    content: url('data:image/svg+xml; utf8, <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="path-1-inside-1_30016_2118" fill="white"><path fill-rule="evenodd" clip-rule="evenodd" d="M14.0995 0.27329C14.7769 0.645909 15.0241 1.49719 14.6515 2.17468L8.33975 13.6505C7.57502 15.0409 5.60377 15.1135 4.73896 13.783L0.825952 7.76298C0.404568 7.11469 0.588506 6.24755 1.23679 5.82617C1.88507 5.40479 2.75221 5.58872 3.17359 6.23701L6.44962 11.277L12.1981 0.825306C12.5707 0.147817 13.422 -0.0993293 14.0995 0.27329Z"/></mask><path d="M14.6515 2.17468L17.1049 3.52405L17.1049 3.52405L14.6515 2.17468ZM14.0995 0.27329L15.4488 -2.18011L15.4488 -2.18012L14.0995 0.27329ZM8.33975 13.6505L10.7932 14.9999L10.7932 14.9999L8.33975 13.6505ZM4.73896 13.783L2.39132 15.309L2.39132 15.309L4.73896 13.783ZM0.825952 7.76298L-1.52169 9.28894H-1.52169L0.825952 7.76298ZM1.23679 5.82617L2.76276 8.17381L2.76276 8.17381L1.23679 5.82617ZM3.17359 6.23701L5.52124 4.71104L3.17359 6.23701ZM6.44962 11.277L4.10197 12.803L6.64993 16.7229L8.90302 12.6264L6.44962 11.277ZM12.1981 0.825306L9.74467 -0.524069L9.74467 -0.524067L12.1981 0.825306ZM17.1049 3.52405C18.2227 1.49158 17.4813 -1.06226 15.4488 -2.18011L12.7501 2.72669C12.0726 2.35408 11.8255 1.5028 12.1981 0.825306L17.1049 3.52405ZM10.7932 14.9999L17.1049 3.52405L12.1981 0.825305L5.88634 12.3012L10.7932 14.9999ZM2.39132 15.309C4.40921 18.4134 9.0088 18.2442 10.7932 14.9999L5.88634 12.3012C6.14125 11.8377 6.79833 11.8135 7.0866 12.257L2.39132 15.309ZM-1.52169 9.28894L2.39132 15.309L7.0866 12.257L3.17359 6.23701L-1.52169 9.28894ZM-0.289177 3.47853C-2.23403 4.74268 -2.78584 7.34409 -1.52169 9.28894L3.17359 6.23701C3.59498 6.88529 3.41104 7.75243 2.76276 8.17381L-0.289177 3.47853ZM5.52124 4.71104C4.25708 2.76619 1.65567 2.21438 -0.289178 3.47853L2.76276 8.17381C2.11447 8.5952 1.24734 8.41126 0.825952 7.76298L5.52124 4.71104ZM8.79726 9.75107L5.52124 4.71104L0.825952 7.76298L4.10197 12.803L8.79726 9.75107ZM9.74467 -0.524067L3.99621 9.92767L8.90302 12.6264L14.6515 2.17468L9.74467 -0.524067ZM15.4488 -2.18012C13.4164 -3.29797 10.8625 -2.55653 9.74467 -0.524069L14.6515 2.17468C14.2789 2.85217 13.4276 3.09931 12.7501 2.72669L15.4488 -2.18012Z" fill="%23C29974" mask="url(%23path-1-inside-1_30016_2118)"/></svg>');
    bottom: 0;
    left: 4px;
    opacity: 0;
}

.radio-label:after {
    content: url('data:image/svg+xml; utf8, <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="6" cy="6" r="5" fill="%23C29974" stroke="%23C29974" stroke-width="2"/></svg>');
    bottom: 1px;
    left: 5px;
    opacity: 0;
}

fieldset:disabled *:hover {
    text-decoration: none;
}

fieldset:disabled .radio-label,
fieldset:disabled .checkbox-label,
fieldset:disabled .checkbox-label::before,
fieldset:disabled .radio-label::before,
.radio-input:disabled + .radio-label,
.radio-input:disabled + .radio-label::before,
.checkbox-input:disabled + .checkbox-label,
.checkbox-input:disabled + .checkbox-label::before {
    opacity: 0.5;
    cursor: default;
}

fieldset:disabled .radio-label.radio-label::after,
fieldset:disabled .checkbox-label.checkbox-label::after,
.radio-input:disabled + .radio-label.radio-label::after,
.checkbox-input:disabled + .checkbox-label.checkbox-label::after {
    opacity: 0;
    cursor: default;
}

textarea:disabled,
input[type="text"]:disabled,
input[type="tel"]:disabled {
    border: 1px solid #EBEBEB;
    background: #FFFFFF;
}

.checkbox-input:checked + .checkbox-label::after,
.radio-input:checked + .radio-label::after {
    opacity: 1;
}

.checkbox-input:focus-visible + .checkbox-label,
.radio-input:focus-visible + .radio-label {
    outline: auto;
}

input,
textarea {
    resize: none;
    outline: none;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 13px 20px 11px;
    font-size: 18px;
    line-height: 25px;

    /* Перебивается встроенным textarea стилем, добавил явно */
    font-family: 'Open Sans', 'Arial', sans-serif;
}

input::placeholder,
textarea::placeholder {
    color: #1E0606;
}

input:focus,
textarea:focus {
    outline: 1px solid #C29974;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-right: 21px;
}

.input-wrapper_horizontal {
    flex-direction: row;
}

.input-wrapper label {
    margin-bottom: 3px;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

legend {
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    line-height: 19px
}

.pagination {
    display: flex;
    margin-bottom: 54px;
}

.pagination-pages {
    display: flex;
    margin: 0 auto;
}

.pagination-button {
    border: none;
    cursor: pointer;
    background: none;
    margin-top: -6px;
}

.pagination-button:hover path {
    stroke: #C29974;
}

.pagination-button:active path {
    stroke: #D4B79E;
}

.pagination-link {
    font-family: 'Montserrat';
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    margin-right: 65px;
}

.pagination-link:last-child {
    margin-right: 0;
}

.pagination-link:first-child a {
    /* Красим просто для красоты */
    color: #C29974;
}