* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #1E0606;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

body {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    margin: 0;
}

.undotted {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.hidden-text {
    font-size: 0;
    line-height: 0;
}

.wrapper {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    margin: 50px auto 60px;
}

.header__menu {
    margin: 0 auto 0 40px;
}

.header__list {
    display: flex;
}

.header__item {
    margin-right: 20px;
}

.header__search {
    margin-right: 23px;
    background-color: transparent;
    border: none;
    width: 17px;
    height: 17px;
    cursor: pointer;
}

.button {
    background: #000000;
    color: #fff;
    display: inline-block;
    padding: 9px 22px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.button:hover {
    background: #C29974;
}

.button:active {
    background: #CFAF91;
}

.button:disabled {
    background: #C7C1C1;
}

.categories__title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    margin: 0px 0px 30px;
}

.categories__list {
    display: flex;
    margin-bottom: 33px;
}

.categories__item {
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 270px;
    position: relative;
}

.categories__item::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
}

.categories__item:first-child::after {
    background-image: url("../img/categories1.png");
    background-color: #DBE4DB;
    background-blend-mode: multiply;
}

.categories__item:nth-child(2)::after {
    background-image: url("../img/categories2.png");
    background-color: #EADDD3;
    background-blend-mode: multiply;
}

.categories__item:nth-child(3)::after {
    background-image: url("../img/categories3.png");
    background-color: #F8F2DA;
}

.categories__item:nth-child(4)::after {
    background-image: url("../img/categories4.png");
    background-color: #D5D4E1;
    background-blend-mode: multiply;
}

.categories__item:nth-child(5)::after {
    background-image: url("../img/categories5.png");
    background-color: #F3D0DB;
    background-blend-mode: multiply;
}

.categories__item:nth-child(6)::after {
    background-image: url("../img/categories6.png");
    background-color: #E5EAF8;
    background-blend-mode: multiply;
}

.categories__item:last-child {
    margin-right: 0;
}

.categories__name {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
    max-width: 200px;
    z-index: 2;
}

.footer {
    background: #434343;
    padding: 100px 0 100px;
    position: relative;
}

.footer a, 
.footer p {
    color: #FFFFFF;
}

.footer__navigation {
    margin-bottom: 52px;
}

.footer__title {
    font-weight: 400;
    line-height: 22px;
    color: #AAAAAA;
    position: relative;
    border-bottom: 1px solid #666666;
    padding-bottom: 23px;
    margin-bottom: 28px;
}

/* .footer__title::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #666666;
    background-position: 50%;
    bottom: -23px;
    left: 0;
} */

/* Увеличим вес */
.footer__reference.footer__reference {
    color:#A2A2A2;
}

.footer__column,
.footer__rating,
.footer__stars,
.footer__communities,
.footer__join,
.footer .wrapper {
    display: flex;
}

.footer__column {
    position: relative;
    flex-direction: column;
    width: 380px;
    margin-right: 20px;
}

.footer__item {
    margin-bottom: 15px;
}

.footer__join {
    margin-bottom: 25px;
}

.footer__reference {
    position: absolute;
    bottom: 0;
}

.footer__long-separator {
    position: relative;
    width: 100%;
}

.footer__long-separator::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #666;
    background-position: 50%;
    top: -52px;
    left: 0;
}

.footer__social {
    margin-right: 10px;
    cursor: pointer;
}

.footer__rating {
    display: flex;
    flex-direction: row-reverse;
    margin-right: auto;
}

.footer__stars-radio{
    display: none;
}

.footer__star {
    margin-right: 3px;
}

.footer__stars-radio:checked ~ .footer__star path
{
    fill: #C29974;
}

.footer__star.footer__star:hover path,
.footer__star:hover ~ .footer__star path
{
    fill: #836E5B;
}


.footer__rating-text {
    margin-right: 25px;
}

.footer__stars-radio:checked ~ .footer__rating-text {
    color: #C29974;
}

.footer__star:hover ~ .footer__rating-text,
.footer__rating-text:hover {
    color: #836E5B;
}

.footer__input {
    width: 100%;
    background-color: #666666;
    color: #EBEBEB;
    border: none;
    padding: 9px 15px;
}

.footer__input:focus {
    outline: none;
    border: 1px solid #FFFDFD;
}

.footer__input::placeholder {
    color: #EBEBEB;
}

.header__search:hover,
.logo:hover,
.header__item:hover,
.footer__social:hover,
.footer__item:hover {
    opacity: 0.5;
}

.header__search:active,
.logo:active,
.header__item:active,
.footer__social:active,
.footer__item:active {
    opacity: 0.25;
}