.banner {
    margin-bottom: 70px;
}

.banner .wrapper {
    position: relative;
    top: -20px;
    padding-top: 89px;
}

.banner__title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
    margin-top: 3px;
    margin-bottom: 17px;
    width: 40%;
}

.banner__origin {
    font-family: 'Crimson Text';
    font-style: italic;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 20px;
}

.banner__monster {
    position: absolute;
    top: -89px;
    right: 100px;
}

.banner__monster::after {
    content: attr(alt);
    display: block;
    height: 461px;
    width: 635px;
    background: #EEE4DB;
    position: absolute;
    right: 0;
    top: 0;
}

.banner__top {
    position: relative;
    background-color: #EEE4DB;
    padding-top: 89px;
    padding-bottom: 89px;
}

.banner__bottom {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 12px 0;
    background-color: #C29974;
}

.banner__content {
    margin-left: 133px;
}

.banner__slide-num {
    position: absolute;
    top: 17px;
    left: 28px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    font-size: 60px;
    line-height: 73px;
    color: rgba(30, 6, 6, 0.05);
}

.banner__slide-select {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 101px;
}

.banner__slide-label {
    margin-bottom: 14px;
    display: block;
    position: relative;
    cursor: pointer;
}

.banner__slide-label::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 31px;
    width: 31px;
    height: 3px;
    background: #D6CAC2;
}

.banner__slide-label::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 31px;
    width: 31px;
    height: 3px;
    background: rgba(30, 6, 6, 0.6);
    opacity: 0;
}

.banner__slide-label:hover::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 31px;
    width: 31px;
    height: 3px;
    opacity: 1;
    background-color: #725F5B;
}

.banner__radio:checked + .banner__slide-label::after {
    opacity: 1;
}

.banner__radio:focus + .banner__slide-label {
    outline: auto;
}

.categories__pagination {
    display: flex;
    align-items: center;
    margin-bottom: 90px;
}


.categories__button {
    width: 37px;
    height: 37px;
    background: rgba(112, 187, 220, 0.2);
    padding: 4px 10px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.categories__description {
    margin-left: 15px;
    max-width: 50%;
}

.categories__button {
    margin-right: 6px;
}

.categories__button:hover path {
    stroke: #C29974
}

.categories__button:active path {
    stroke: #D4B79E
}

.advantages {
    display: flex;
    margin-bottom: 91px;
}

.advantages__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.advantages__img {
    margin-right: 120px;
    position: relative;
    height: 559px;
    width: 480px;
}

.advantages__img::after {
    content: attr(alt);
    display: block;
    height: 559px;
    width: 480px;
    background: #C9DFEC;
    position: absolute;
    left: 0;
    top: 0;
}

.advantages__content {
    padding-top: 31px;
}

.advantages__item {
    padding: 10px 0;
    position: relative;
}

/* Один пункт разуплотнить... */
.advantages__item:first-child label {
    letter-spacing: 1px;
}

.advantages__list {
    margin-bottom: 22px;
}

.advantages__label {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    cursor: pointer;
}

.advantages__label::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -60px;
    width: 326px;
    height: 55px;
    background: rgba(112, 187, 220, 0.2);
    opacity: 0;
}

.advantages__radio:checked + .advantages__label::after {
    opacity: 1;
}

.advantages__radio:focus-visible + .advantages__label::after {
    outline: auto;
}

.advantages__radio:checked + .advantages__label {
    font-weight: 700;
}

.advantages p {
    margin-bottom: 15px;
}

.advantages__text {
    margin-bottom: 26px;
    max-width: 480px;
}

.awards {
    margin-bottom: 89px;
}

.awards__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.awards__img {
    width: 200px;
    height: 60px;
    position: relative;
}

.awards__img::after {
    content: attr(alt);
    display: block;
    height: 60px;
    width: 200px;
    background: #BBB;
    position: absolute;
    left: 0;
    top: 0;
}


.information {
    display: flex;
    align-items: flex-start;
    margin-bottom: 155px;
}

.information p {
    max-width: 483px;
    margin-bottom: 20px;
}

.information__about,
.information__contacts {
    padding: 0 30px;
    position: relative;
    margin-top: 26px;
    padding-top: 31px;
    background: #E1F0F7;
}

.information__about {
    margin-right: 57px;
    padding-bottom: 27px;
}

.information__contacts {
    padding-bottom: 72px;
}

.information__title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    position: absolute;
    top: -26px;
}

.information__subtitle {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    margin-bottom: 10px;
}

.information__contacts p {
    margin: 10px 0 30px;
}

.information__map {
    position: absolute;
}

.bg-music {
    position: relative;
}

.bg-music__controls {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.modal {
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(125, 151, 218, 0.8);
    display: none;
}

.modal__form {
    position: relative;
    background: #E5EAF8;
    width: 680px;
    padding: 42px 40px;
}

.modal-show {
    display: flex;
}

.close {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: -25px;
    padding: 0;
}

.close:hover {
    opacity: 0.7;
}

.close:active {
    opacity: 0.4;
}

.input-wrapper {
    margin-right: 0;
}

.field-2-column .input-wrapper {
    max-width: 48.5%;
}