.toys__pagination,
.filter__slider {
    display: flex;
}

.toys__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px 53px;
}

.toys__item {
    max-width: 380px;
    margin: 0 10px 20px;
}

.filters .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.filters {
    background: rgba(125, 151, 218, 0.2);
    padding: 42px 0 42px;
    margin-bottom: 60px;
}

.filters__item {
    margin-bottom: 15px;
}

.filters__slider-item {
    background: #FFFFFF;
    padding: 7px 0px 6px;
    text-align: center;
    width: 80px;
    position: relative;
}

.toys__apply-button {
    margin-right: 85px;
    margin-top: 37px;
}

label {
    font-size: 16px;
    line-height: 22px;
}

legend {
    font-weight: 700;
}

.radioslider-label {
    cursor: pointer;
}

.radioslider-label::after {
    content: '';
    display: block;
    position: absolute;
    width: 80px;
    height: 35px;
    top: 0;
    left: 0;
    background: #F3D0DB;
    opacity: 0;
    mix-blend-mode: multiply;
}

.radioslider:checked + .radioslider-label::after {
    opacity: 1;
}

.radioslider:focus-visible + .radioslider-label::after {
    outline: auto;
}

.styled-slider-limits {
    display: flex;
    justify-content: space-between;
    margin-right: -0.75em;
}

.toys__name {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.toys__price {
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}

.toys__item img {
    margin-bottom: 30px;
}

/*generated with Input range slider CSS style generator (version 20211225)
https://toughengineer.github.io/demo/slider-styler*/
input[type=range].styled-slider {
    height: 24px;
    -webkit-appearance: none;
    background: none;
    border: none;
    padding: 0;
    width: 188px;
}

/*progress support*/
input[type=range].styled-slider.slider-progress {
    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--value) - var(--min)) / var(--range));
    --sx: calc(0.5 * 24px + var(--ratio) * (100% - 24px));
}

/*webkit*/
input[type=range].styled-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background: #fff;
    border: 8px solid #C29974;
    box-shadow: none;
    margin-top: calc(4px * 0.5 - max(24px * 0.5,8px));
}

input[type=range].styled-slider::-webkit-slider-runnable-track {
    height: 4px;
    border: none;
    border-radius: 0;
    background: #808080;
    box-shadow: none;
}

input[type=range].styled-slider::-webkit-slider-thumb:hover {
    background: #fff;
    opacity: 0.75;
}

input[type=range].styled-slider:hover::-webkit-slider-runnable-track {
    background: #808080;
}

input[type=range].styled-slider::-webkit-slider-thumb:active {
    background: #fff;
    opacity: 0.75;
}

input[type=range].styled-slider:active::-webkit-slider-runnable-track {
    background: #808080;
}

input[type=range].styled-slider.slider-progress::-webkit-slider-runnable-track {
    background: linear-gradient(#C29974,#C29974) 0/var(--sx) 100% no-repeat, #808080;
}

input[type=range].styled-slider.slider-progress:hover::-webkit-slider-runnable-track {
    background: linear-gradient(#C29974,#C29974) 0/var(--sx) 100% no-repeat, #808080;
}

input[type=range].styled-slider.slider-progress:active::-webkit-slider-runnable-track {
    background: linear-gradient(#C29974,#C29974) 0/var(--sx) 100% no-repeat, #808080;
}

  /*mozilla*/
input[type=range].styled-slider::-moz-range-thumb {
    width: max(calc(24px - 8px - 8px),0px);
    height: max(calc(24px - 8px - 8px),0px);
    border-radius: 100%;
    background: #fff;
    border: 8px solid #C29974;
    box-shadow: none;
}

input[type=range].styled-slider::-moz-range-track {
    height: 4px;
    border: none;
    border-radius: 0;
    background: #808080;
    box-shadow: none;
}

input[type=range].styled-slider::-moz-range-thumb:hover {
    background: #fff;
    opacity: 0.75;
}

input[type=range].styled-slider:hover::-moz-range-track {
    background: #808080;
}

input[type=range].styled-slider::-moz-range-thumb:active {
    background: #fff;
    opacity: 0.75;
}

input[type=range].styled-slider:active::-moz-range-track {
    background: #808080;
}

input[type=range].styled-slider.slider-progress::-moz-range-track {
    background: linear-gradient(#C29974,#C29974) 0/var(--sx) 100% no-repeat, #808080;
}

input[type=range].styled-slider.slider-progress:hover::-moz-range-track {
    background: linear-gradient(#C29974,#C29974) 0/var(--sx) 100% no-repeat, #808080;
}

input[type=range].styled-slider.slider-progress:active::-moz-range-track {
    background: linear-gradient(#C29974,#C29974) 0/var(--sx) 100% no-repeat, #808080;
}

  /*ms*/
input[type=range].styled-slider::-ms-fill-upper {
    background: transparent;
    border-color: transparent;
}

input[type=range].styled-slider::-ms-fill-lower {
    background: transparent;
    border-color: transparent;
}

input[type=range].styled-slider::-ms-thumb {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background: #fff;
    border: 8px solid #C29974;
    box-shadow: none;
    margin-top: 0;
    box-sizing: border-box;
}

input[type=range].styled-slider::-ms-track {
    height: 4px;
    border-radius: 0;
    background: #808080;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
}

input[type=range].styled-slider::-ms-thumb:hover {
    background: #fff;
    opacity: 0.75;
}

input[type=range].styled-slider:hover::-ms-track {
    background: #808080;
}

input[type=range].styled-slider::-ms-thumb:active {
    background: #fff;
    opacity: 0.75;
}

input[type=range].styled-slider:active::-ms-track {
    background: #808080;
}

input[type=range].styled-slider.slider-progress::-ms-fill-lower {
    height: 4px;
    border-radius: 0px 0 0 0px;
    margin: -undefined 0 -undefined -undefined;
    background: #C29974;
    border: none;
    border-right-width: 0;
}

input[type=range].styled-slider.slider-progress:hover::-ms-fill-lower {
    background: #C29974;
}

input[type=range].styled-slider.slider-progress:active::-ms-fill-lower {
    background: #C29974;
}
