.toys__pagination,
.filters__slider {
    display: flex;
}

.toys__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px 31px;
}

.toys__item {
    max-width: 380px;
    margin: 0 10px 45px;
}

.filters .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.filters {
    background: rgba(125, 151, 218, 0.2);
    padding: 44px 0 26px;
    margin-bottom: 60px;
}

.filters__item {
    margin-bottom: 15px;
}

.toys__apply-button {
    margin-right: 85px;
    margin-top: 37px;
}

label {
    font-size: 16px;
    line-height: 22px;
}

legend {
    font-weight: 700;
}

.radioslider-label {
    cursor: pointer;
    display: block;
    width: 80px;
    height: 35px;
    text-align: center;
    padding: 7px 0px 6px;
    background: #FFFFFF;
}

.radioslider-label:hover {
    opacity: 0.6;
    background: #F3D0DB;
}

.radioslider:disabled + .radioslider-label,
fieldset:disabled .radio-label {
    opacity: 0.5;
    cursor: default;
}

fieldset:disabled .radioslider-label {
    pointer-events: none;
}


.radioslider:checked + .radioslider-label {
    background: #F3D0DB;
}

.radioslider:focus-visible + .radioslider-label::after {
    outline: auto;
}

.styled-slider-limits {
    display: flex;
    justify-content: space-between;
    margin-right: -0.75em;
}

.checkbox-label {
    padding-left: 29px;
}

.radio-label {
    padding-left: 30px;
}

.toys__name {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.toys__price {
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}

.toys__item img {
    margin-bottom: 31px;
    width: 380px;
    height: 385px;
    position: relative;
}

.toys__item img::after {
    content: attr(alt);
    width: 380px;
    height: 385px;
    background-color: #F8D0A1;
    position: absolute;
    top: 0;
    left: 0;
}

.toys__item a {
    position: relative;
}

.toys__item a:hover::after,
.toys__item a:active::after {
    content: "learn more";
    position: absolute;
    display: inline-block;
    top: calc(50% - 104px);
    left: calc(50% - 104px);
    height: 207px;
    width: 207px;
    background-color: #E8ECF9;
    opacity: 0.9;
    text-transform: uppercase;
    text-align: center;
    line-height: 207px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 26px;
    white-space: nowrap;
    overflow: hidden;
}

.toys__item a:active::after {
    opacity: 0.67;
}

.filters__cost {
    margin-right: 107px;
}

.filters__color {
    /* margin-right: 130px; */
    min-width: 198px;
}

.filters__delivery {
    /* margin-right: 71px; */
    min-width: 200px;
}

.filters__delivery .filters__item {
    margin-bottom: 10px;
}

.filters__amount {
    /* margin-right: 57px; */
    min-width: 300px;
}

/*generated with Input range slider CSS style generator (version 20211225)
https://toughengineer.github.io/demo/slider-styler*/
input[type=range].styled-slider {
    height: 24px;
    -webkit-appearance: none;
    background: none;
    border: none;
    padding: 0;
    width: 188px;
}

/*progress support*/
input[type=range].styled-slider.slider-progress {
    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--value) - var(--min)) / var(--range));
    --sx: calc(0.5 * 24px + var(--ratio) * (100% - 24px));
    margin-left: 6px;
}

/*webkit*/
input[type=range].styled-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background: #fff;
    border: 8px solid #C29974;
    box-shadow: none;
    margin-top: calc(4px * 0.5 - max(24px * 0.5,8px));
}

input[type=range].styled-slider::-webkit-slider-runnable-track {
    height: 4px;
    border: none;
    border-radius: 0;
    background: #808080;
    box-shadow: none;
}

input[type=range].styled-slider::-webkit-slider-thumb:hover,
input[type=range].styled-slider::-webkit-slider-thumb:active {
    background: #fff;
    opacity: 0.75;
}

input[type=range].styled-slider:hover::-webkit-slider-runnable-track,
input[type=range].styled-slider:active::-webkit-slider-runnable-track {
    background: #808080;
}

input[type=range].styled-slider.slider-progress::-webkit-slider-runnable-track,
input[type=range].styled-slider.slider-progress:hover::-webkit-slider-runnable-track,
input[type=range].styled-slider.slider-progress:active::-webkit-slider-runnable-track {
    background: linear-gradient(#C29974,#C29974) 0/var(--sx) 100% no-repeat, #808080;
}

  /*mozilla*/
input[type=range].styled-slider::-moz-range-thumb {
    width: max(calc(24px - 8px - 8px),0px);
    height: max(calc(24px - 8px - 8px),0px);
    border-radius: 100%;
    background: #fff;
    border: 9px solid #C29974;
    box-shadow: none;
}

input[type=range].styled-slider::-moz-range-track {
    height: 4px;
    border: none;
    border-radius: 0;
    background: #808080;
    box-shadow: none;
}

input[type=range].styled-slider::-moz-range-thumb:hover,
input[type=range].styled-slider::-moz-range-thumb:active {
    background: #fff;
    opacity: 0.75;
}

input[type=range].styled-slider:hover::-moz-range-track,
input[type=range].styled-slider:active::-moz-range-track {
    background: #808080;
}

input[type=range].styled-slider.slider-progress::-moz-range-track,
input[type=range].styled-slider.slider-progress:active::-moz-range-track,
input[type=range].styled-slider.slider-progress:hover::-moz-range-track {
    background: linear-gradient(#C29974,#C29974) 0/var(--sx) 100% no-repeat, #808080;
}

  /*ms*/
input[type=range].styled-slider::-ms-fill-upper,
input[type=range].styled-slider::-ms-fill-lower {
    background: transparent;
    border-color: transparent;
}

input[type=range].styled-slider::-ms-thumb {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background: #fff;
    border: 9px solid #C29974;
    box-shadow: none;
    margin-top: 0;
    box-sizing: border-box;
}

input[type=range].styled-slider::-ms-track {
    height: 4px;
    border-radius: 0;
    background: #808080;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
}

input[type=range].styled-slider::-ms-thumb:hover,
input[type=range].styled-slider::-ms-thumb:active {
    background: #fff;
    opacity: 0.75;
}

input[type=range].styled-slider:hover::-ms-track,
input[type=range].styled-slider:active::-ms-track {
    background: #808080;
}

input[type=range].styled-slider.slider-progress::-ms-fill-lower {
    height: 4px;
    border-radius: 0px 0 0 0px;
    margin: -undefined 0 -undefined -undefined;
    background: #C29974;
    border: none;
    border-right-width: 0;
}

input[type=range].styled-slider.slider-progress:hover::-ms-fill-lower,
input[type=range].styled-slider.slider-progress:active::-ms-fill-lower {
    background: #C29974;
}
